# Prerequisites
ai-os/*.d
ai-os-smartcard/*.d

# Compiled Object files
ai-os/*.o
ai-os-smartcard/*.o
ai-os/*.elf
ai-os-smartcard/*.elf
ai-os/*.bin
ai-os-smartcard/*.bin
ai-os/*.map
ai-os-smartcard/*.map

# Custom OS bundles and cartridges
ai-os/*.atkm
ai-os-smartcard/*.atkm

# macOS specific
ai-os/.DS_Store
ai-os-smartcard/.DS_Store

# QEMU/Logs
ai-os/*.log
ai-os-smartcard/*.log
